body.dark-mode {
    background-color: #121212;
    color: #fff;
}
body.dark-mode input,
body.dark-mode select,
body.dark-mode textarea {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}
